@font-face {
  font-family: "Cooper Bold Italic BT";
  src: url("/CooperBoldItalicBT.ttf") format('truetype');
}

body {
  background-color: Salmon;
  font-family: "Cooper Bold Italic BT", serif; 
  text-align: center;
}

h1, h2 {
  color: Beige;
}

img {
  display: inline-block;
}
