@font-face {
  font-family: "Cooper Bold Italic BT";
  src: url("/CooperBoldItalicBT.ttf") format('truetype');
}

body {
  background-color: Salmon;
  font-family: "Cooper Bold Italic BT", serif; 
  text-align: center;
}

h1, h2 {
  color: Beige;
}

.container {
  position: relative;
  background-image: url("communards.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text-block {
  margin: auto;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
